.bg-download {
  background: #fff url("https://demos.wrappixel.com/premium-admin-templates/react/flexy-react/main/static/media/welcome-bg-2x-svg.25338f53.svg") no-repeat center;
}
.bg-cover {
  background-size: cover;
}

.bg-ads {
  background: #fff url("https: //dispatch.barnesandnoble.com/content/dam/ccr/homepage/daily/2022/09/06/24392_BB_B_OMP_09-06.jpg") no-repeat center;
}