// $font-family-base: "Open Sans", Sans serif;
$theme-colors: (
  "primary": #03c9d7,
  "secondary": #9333EA,
  "danger": #e32a20ea,
  "success": #14A44D,
  'light': #fff,
  'warning': #fbf3dafb,
  'dark': #000,
  'new': #8BE78B,
  'new-bold': #429c65,
  'old': #FB9678,
  'old-bold': #73510D,
  'damaged': #FF5C8E,
  'damaged-bold': #915761,
  'borrowing': #18d6e4,
  'borrowing-bold': #2B67B1,
  "grayer": #C9C9C9,
  "report-1": #d1e9fc,
  "report-1-bold": #061b64,
  "report-2": #D0F2FF,
  "report-2-bold": #04297A,
  "report-3": #FFF7CD,
  "report-3-bold": #C79B2F,
  "report-4": #FFE7D9,
  "report-4-bold": #B72136,
  "facebook": #3B5998,
  "twitter": #55ACEE,
  "google": #DD4B39,
  "github": #333333,
  "discord": #404EED,
);

$utilities: (
  "width": (property: width,
    class: w,
    values: (
      32: 32px,
      55: 55px,
      280: 280px,
      50: 50%,
      100: 100%

    )),
  "height": (property: height,
    class: h,
    values: (
      32: 32px,
      50: 50px,
      75: 75px,
      100: 100px,
      200: 200px,
    
      )),
        "font-size": (
      rfs: true,
      property: font-size,
      class: fs,
      values: (
        1: 2.5rem,
        2: 2rem,
        3: 1.75rem,
        4: 1.5rem,
        5: 1.25rem,
        6: 1rem,
        7: 0.75rem,
        8: 0.5rem,
        9: 0.25rem,
        10: 0.1rem,
      )
    ),
       "shadow": (
      property: box-shadow,
      class: shadow,
      values: (
        null: 0 7px 30px 0 rgba(112, 120, 129, 0.11),
        // sm: $box-shadow-sm,
        // lg: $box-shadow-lg,
        card: rgba(0, 0, 0, 0.325) 0px 0px 9px 0px,
        none: none,
      )
    ),
    "line-height": (
      property: line-height,
      class: lh,
      values: (
        1: 1,
        50: 50px,
        75: 75px,
        icon: 1.6,
        sm: 0.85,
      )
    ),
    "top": (
      property: top,
      values: (0: 0,
        50: 50%,
        25: 25%,
        100: 100%)
    ),
);

$spacer: 0.0625rem;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  8: $spacer * 8,
  10: $spacer * 10,
  12: $spacer * 12,
  16: $spacer * 16,
  24: $spacer * 24,
  25: 25%,
  32: $spacer * 32,
  40: $spacer * 40,
  48: $spacer * 48,
  280: $spacer * 280,
  500: $spacer * 500,
);

$utilities: map-merge($utilities,
    ("cursor": (property: cursor,
        values: auto default pointer wait text move help not-allowed),
    ));
    
$gradient: linear-gradient(270deg, #3f5efb, #fc466b);
$table-variants: (
  "primary": #B8E8FC,
  "success": #C8FFD4,
  "secondary": #FDFDBD,
  "white": #fff
);

$btn-link-hover-color: #fff;
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";



