// $font-family-base: "Open Sans", Sans serif;
$theme-colors: (
  "primary": #03c9d7,
  "secondary": #6C757D,
  "danger": #e32a20,
  "success": #09d127,
  'light': #fff,
  'warning': #fbf3dafb,
  'dark': #000,
  'new': #D6F0E0,
  'new-bold': #429c65,
  'old': #FBF0DA,
  'old-bold': #73510D,
  'damaged': #F8DBE0,
  'damaged-bold': #915761,
);

$utilities: (
  "width": (property: width,
    class: w,
    values: (
      32: 32px,
      280: 280px,
      50: 50%,
      100: 100%
    )),
  "height": (property: height,
    class: h,
    values: (
      32: 32px,
     
    
      )),
);
$spacer: 0.0625rem;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  8: $spacer * 8,
  10: $spacer * 10,
  12: $spacer * 12,
  16: $spacer * 16,
  24: $spacer * 24,
  48: $spacer * 48,
  280: $spacer * 280,
  500: $spacer * 500,
);

$box-shadow: 0 7px 30px 0 hsla(210, 7%, 48%, .11);
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";



    