@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

body ::-webkit-scrollbar-thumb {
  background-color: red;
}

body ::-webkit-scrollbar-track {
  background-color: #fff;
}

.btn:hover {
  box-shadow: 0 8px 9px -4px rgb(0 0 0 / 15%),
    0 4px 18px 0 rgb(0 0 0 / 10%);
}