* {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.navbar-custom {
  position: fixed;
  left: 280px;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 35px 1px rgba(154, 161, 171, 0.15);
  z-index: 1500;
  background-color: rgba(249, 250, 251, 0.72);
  backdrop-filter: blur(6px)
}

.content-page {
  padding-top: 60px;
  padding-bottom: 150px;
  margin-left: 280px;
  min-height: 100vh;
  background-color: #F9FAFB;
  /* box-shadow: rgba(0, 0, 0, 0.325) 0px 0px 9px 0px */
  /* position: relative; */
  z-index: 1050;
}

.sidebar {
  position: fixed;
  z-index: 1000;
}

.footer {
  height: 150px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
  border-top: 1px solid #dee2e6;
  z-index: 1040;
}

.main-content {
  padding: 24px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 7px 30px 0 rgb(112 120 129 / 11%);
}

.main-content-responsive {
  margin: 0 40px;
}

.user-info:hover .user-profile {
  display: block;
}
.user-profile {
  display: none;
}
@media (max-width: 1080px) {
  .main-content-responsive {
    padding-top: 12px;
    margin: 0 80px;
  }
}

@media screen and (max-width: 1200px) {
  .navbar-custom {
    left: 64px;
  }

  .content-page {
    margin-left: 64px;
  }

  .sidebar {
    padding-top: 10px;
  }
}

@media (min-width: 1400px){
  .main-content-responsive {
    margin: 0 60px;
  }
}

@media (min-width: 1600px) {
  .main-content-responsive {
    margin: 0 80px;
  }
}