* {
  box-sizing: border-box;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.navbar-custom {
  position: fixed;
  left: 280px;
  top: 0;
  right: 0;
  box-shadow: 0px 0px 35px 1px rgba(154, 161, 171, 0.15);
  z-index: 1500;
  background-color: rgba(249, 250, 251, 0.72);
  backdrop-filter: blur(6px)
}

.content-page {
  padding-top: 60px;
  margin-left: 280px;
  overflow: hidden;
  min-height: 100vh;
  background-color: #F0F2F5;
  box-shadow: rgba(0, 0, 0, 0.325) 0px 0px 9px 0px
  /* position: relative; */
  /* z-index: 1; */
}

.sidebar {
  position: fixed;
  z-index: 1000;
}

@media screen and (max-width: 1200px) {
  .navbar-custom {
    left: 64px;
  }

  .content-page {
    margin-left: 64px;
  }

  .sidebar {
    padding-top: 10px;
  }
}
